@model Shop.Models.Product

@{
    ViewData["Title"] = "Buy";
}


<div class="container" >
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <img src="~/@Model.ImagePath" width="100%" class="image_buy" />
        </div>
   
        
            <div class="col-lg-6 col-sm-6 col-md-6"  >
                <div class="text-uppercase Brief_Description" >
                    <b> @Model.BriefDescription </b>
                </div>
                <div class="code">
                   <br/>
                        Code<b>: @Model.Code</b> <br />

                        Brand <b>: @Model.Brand</b>
                    <div class="text-success"> Available in  Stuck</div> <br/>
                </div>
                <div >
                    @Model.FullDescription
                </div>
                <br />
                <div class="price" >
                   Price:  @Model.Price
                </div> <br />   
                       <div class="">
                           <b>Note</b>: Delivery Charges will be Charge   <b>SAR 11</b> 
                       </div> <br />
                
                <div col-lg-5 col-sm-5 col-md-5>
                    <div class=""></div>
                    
                    <form asp-action="Details">
                        <div class="form-group">
                            <input type="number" class="form-control col-md-3"  placeholder="Quantity" name="Quantity" required>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Name" name="ProductName" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Name" class="form-control" name="Name"  required/>
                        </div>
                        <div class="form-group">
                            <input placeholder="Company Name" class="form-control" name="CompanyName"/>
                        </div>
                        <div class="form-group">
                            <input placeholder="Mobile Number" class="form-control" name="MobileNumber" required/>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Address(House Number/Street Name/Nearest Landmark)" class="form-control" name="Address" required></textarea>
                            <span asp-validation-for="FullDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input placeholder="City" class="form-control" name="City"required/>
                        </div>
                        <div class="form-group">
                            <input placeholder="SARID Number" class="form-control" name="SarId" required/>
                        </div>




                        <div class="form-group">
                            <div class="mr-3">
                                <button type="submit" value="Buy Now" asp-controller="Products" asp-action="SendProductOrder" class="btn btn-primary buyButton rounded-pill btn-lg fa fa-shopping-cart" aria-hidden="true">Place order </button>

                                <a href="https://web.whatsapp.com/">
                                    <div type="button" value="whatsappbutton" class=" btn btn-success  btn-lg fa fa-whatsapp fa-2x rounded-pill" aria-hidden="true">whatsapp</div>
                                </a>


                            </div>
                        </div>

                    </form>
                </div>
                

            </div>
    </div>
</div>

<div>
    <a asp-action="Shop"><button class="btn btn-outline-info fa fa-arrow-left" aria-hidden="true"> Back to List</button></a>
</div>

<style type="text/css">
    
</style>